@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;700&family=DM+Sans:wght@400;800&display=swap');

* {
    font-family: 'DM Sans', sans-serif;
}

form {
    text-align: center;
    padding: 5vw;
}

label {
    font-weight: bold;
    white-space: nowrap;
}

div div form {
    padding: 5px;
}

.alert {
    font-family: 'Azeret Mono', monospace;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 10pt
}

.alert-secondary {
    font-weight: bolder;
}

b {
    border-radius: 5px;
    padding: 3px;
    padding-right: 6px;
    padding-left: 6px;
    font-style: normal;
}

.b {
    color: dimgray;
    background: #c4c8cb;
}

.v {
    color: #115a39;
    background: #a2cdba;
}