.alert {
    background-color: lightgray;
    border: 1px solid dimgray;
    padding: 5px;
    font-family: monospace;
}

form {
    text-align: center;
    padding: 5vw;
}

div div form {
    padding: 5px;
}