npm i bootstrap-icons

p {
    background-color: lightgray;
    border: 1px solid dimgray;
padding: 5px;
font-family: monospace;
}

form {
    text-align: center;
    padding: 5vw;
}

div {
    padding: 5px;
}

rs div {
    padding: 2px, 5px, 2px,5px;
}